<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Crypto Checker</title>
	<!-- plugins:css -->
	<link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
	<link rel="stylesheet" href="/vendors/base/vendor.bundle.base.css">
	<!-- messageBird -->
	<link rel="stylesheet" href="css/messageBird.css">
	<!-- style -->
	<link rel="stylesheet" href="css/style.css">
</head>
