<%- include("partials/_head") %> 
<body>
	<!-- form to fill -->
	<section class="d-flex align-items-center w-100 vh-100">
		<div class="container w-md-50">
			<div class="header">
				<h1 class="text-muted text-center">Crypto Tracker</h1>
			</div>
			<div class="d-flex justify-content-center align-items-center">
				<hr class="w-15 m-0">
				<span class="text-muted font-italic small">~T~</span>
				<hr class="w-15 m-0">
			</div>
			<div class="card p-5">
				<div class="text-block text-center mb-3">
					<p class="text-dark font-weight-bold">Crypto Tracker is a app used to keep track of crypto values in realtime</p>
					<p class="text-dark">When the condiction is ment you will receive an email telling you that the value has change.</p>
					<span class="text-dark my-3">
						BTC value(USD):
						<span class="font-weight-bold text-dark" id="currentValue">$0000000</span>
					</span>
					<a href="/tracker" class="btn btn-primary mt-5">Get Started</a>
				</div>
			</div>
		</div>
	</section>
	
	<!-- scripts -->
	<%- include("partials/_scripts") %>
</body>

</html>